<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RECIPES </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <ul class="nav-list">
                    <span class="close-icon" onclick="showcIconBar()"><i class="fa fa-close"></i></span>
                    <li class="nav-item">
                        <a href="####">Meals</a>
                        <div class="sub-menu-i hide">
                            <ul>
                                <li><a href="#">Breakfast</a></li>
                                <li><a href="#">Salad</a></li>
                                <li><a href="#">Brunch</a></li>
                                <li><a href="#">Dinner</a></li>
                                <li><a href="#">Light Meal</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#####3">Kitchen Tips</a>
                        <div class="sub-menu-i hide">
                            <ul>
                                <li><a href="#">Cookware and  Equipment</a></li>
                                <li><a href="#">Ingredients</a></li>
                                <li><a href="#">Spices</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#####3"> About us </a>
                    </li>
                    
                </ul>
                
            </nav>
            <a href="###" class="bar-icon" id="iconBar"  onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand">My Recipies</div>
        </div>

          <!--search bar-->
        <div class="search-bar">
            <select name="" id="">
                <option value="Everything">Meal</option>
                <option value="titles">Meal type</option>
                <option value="discription">Meal Description</option>
            </select>
            <input type="text" name="q" id="" placeholder="search...">
            <button> 
                <i class="fa fa-search"></i>
            </button>
        </div>
    </header>
    
    <div class="container">
        <div class="subforum">
            <div class="Subforum-title">
                <h1>SOmething SOmething</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
            <div class="Subforum discription subforum-column">
                <h1><a href="">Description Title</a></h1>
                <p>Description content:</p>
            </div>
            <div class="subforum-stat subforum-column center">
                <span>24 posts| 15 topics </span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">latest recipie</a></b>by <a href=""></a>
                <br>
                on  <small>13 january 2023</small>       
            </div>
            </div>
    
    
        <!--more-->
        
        <div class="subforum">
            <div class="Subforum-title">
                <h1>SOmething SOmething</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
                <div class="Subforum discription subforum-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description content:</p>
                </div>
                <div class="subforum-stat subforum-column center">
                    <span>24 posts| 15 topics </span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">latest recipie</a></b>by <a href=""></a>
                    <br>
                    on  <small>13 january 2023</small>       
                </div >
             </div>
           
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
                <div class="Subforum discription subforum-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description content:</p>
                </div>
                <div class="subforum-stat subforum-column center">
                    <span>24 posts| 15 topics </span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">latest recipie</a></b>by <a href=""></a>
                    <br>
                    on  <small>13 january 2023</small>       
                </div >
            </div>
            
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
                <div class="Subforum discription subforum-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description content:</p>
                </div>
                <div class="subforum-stat subforum-column center">
                    <span>24 posts| 15 topics </span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">latest recipie</a></b>by <a href=""></a>
                    <br>
                    on  <small>13 january 2023</small>       
                </div >
            </div>
           
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
                <div class="Subforum discription subforum-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description content:</p>
                </div>
                <div class="subforum-stat subforum-column center">
                    <span>24 posts| 15 topics </span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="####">latest recipie</a></b>by <a href=""></a>
                    <br>
                    on  <small>13 january 2023</small>       
                </div >
            </div>
            
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-row subforum-column">
                    <i class="'fa fa-car"></i>
                </div>
                <div class="subforum-discription subforum-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description content:</p>
                </div>
                <div class="subforum-stat subforum-column center">
                    <span>24 posts| 15 topics </span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">latest recipie</a></b>by <a href=""></a>
                    <br>
                    on  <small>13 january 2023</small>       
                </div >
            </div> 

 
        </div>
        <!--more-->
    </div>
    <div class="forum-info">
        <div class="chartsasa">
            abouttttts
        </div>
    </div>

    <footer>
        <span>&copy; &nbsp;Myrecipies | All right/span>
    </footer>
    <script src="main.js"></script>
</body>
</html>