<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RECIPES </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <ul class="nav-list">
                    <span class="close-icon" onclick="showcIconBar()"><i class="fa fa-close"></i></span>
                    <li class="nav-item">
                        <a href="####">Meals</a>
                        <div class="sub-menu-i hide">
                            <ul>
                                <li><a href="#">Breakfast</a></li>
                                <li><a href="#">Salad</a></li>
                                <li><a href="#">Brunch</a></li>
                                <li><a href="#">Dinner</a></li>
                                <li><a href="#">Light Meal</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#####3">Kitchen Tips</a>
                        <div class="sub-menu-i hide">
                            <ul>
                                <li><a href="#">Cookware and  Equipment</a></li>
                                <li><a href="#">Ingredients</a></li>
                                <li><a href="#">Spices</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#####3"> About us </a>
                    </li>
                    
                </ul>
                
            </nav>
            <a href="###" class="bar-icon" id="iconBar"  onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand">My Recipies</div>
        </div>

          <!--search bar-->
        <div class="search-bar">
            <select name="" id="">
                <option value="Everything">Meal</option>
                <option value="titles">Meal name</option>
                <option value="discription">Meal discription</option>
            </select>
            <input type="text" name="q" id="" placeholder="search...">
            <button> 
                <i class="fa fa-search"></i>
            </button>
        </div>
    </header>
    
    <div class="container">

        <!--navigation-->
        <div class="navigate">
            <span> <a href= "#"> Home =  My Recipie</a> >> <a href="#"> Meals</a></span>

        </div>
    
       <div class="posts-table">
        <div class="Meal-type-header">
            <div class="meal-type">Meal type
            </div>
            <div class="Recipie-by"> Recipie by</div>  
            <div class="rating">Rating
            </div>
        </div>
            <br>
            <div class="Meal-type-row">
                <div class="meal"><a href="##"> meal name</a></div>
                <br>
                <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
                <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                </div>
             </div>
        </div>

        <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
        </div>

        <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>


         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div> 
    </div> 
    <!--pagination-->
        <div class="pagination">
            pages:<a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a>
        </div>


    <div class="page-info">
        abouttttts
    
    </div>

    <footer>
        <span>&copy; &nbsp;Myrecipies | All rights reserved </span>
    </footer>
    <script src="main.js"></script>
</body>
</html>